/* ol overrides */
.ol-zoom {
	top: 7.5em;
}
.ol-control button {
	background-color: #666;
}

.link-control {
	bottom: 10px;
	left: 150px;
}

/* osm-lulc */
html, body {
	background-color: black;
}

div#contact {
	position: fixed;
	top: 20%;
	/*bottom: 20%;*/
	max-height: 60%;
	overflow: auto;
}

div#main-container {
	background-color: silver;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#map {
	height: 100%;
	width: 100%;
}
#header {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid #dddddd;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
	padding: 1em;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
}

#sidebar-left {
	top: 100px;
	height: auto !important;
	visibility: visible !important;
	overflow: visible !important;
	background-color: rgba(255,255,255,0.7);
}

#sidebar-left img {
	width: 100%;
	border-radius: 0 4px 4px 0;
}

#sidebar-left button {
    background-color: #666;
    border-color: white;
    border-radius: 0 4px 4px 0;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    height: 32px;
    left: 260px;
    position: absolute;
    top: 65px;
    width: 35px;
}

#pie-parent{
	position: absolute;
	top: 7em;
	right: 10px;
	background-color: hsla(0,0%,100%,0.7);
	text-align: center;
}

#pie {
	position: relative;
	/*position: absolute !important;*/
	/*top: 7em;
	right: 10px;*/
	width: 200px;
	height: 230px;
	pointer-events: none;
	/*background-color: hsla(0,0%,100%,0.7);*/
}

#pie svg {
	pointer-events: auto;
}

@media screen and (max-width: 450px) {
	#heigit-logo img {
		visibility: hidden;
	}
}

@media screen and (max-width: 650px) {

	#lulc-logo img {

		visibility: hidden;
	}

	#header img {
		height: 32px;
	}
	#header {
		height: 54px;
	}
	#header #lulc-logo {

		height: 64px;
		width: 32px;
		background-image: url('../images/osm-lulc-logo-small.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: contain;
	}

	ul.ui.secondary.right.menu {
		font-size: 75%;
		padding: 0;
	}
	#sidebar-left  {
		top: 70px;
	}
	
	#sidebar-left button  {
		top: 0px;
	}
	
	#pieicon button {
	visibility: visible;
    background-color: #666;
    border-color: white;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 2px 0 2px 2px;
	position: absolute !important;
	top: 5em;
	right: 0px;
	height: 32px;
    width: 35px;
	}
	
	#pie {
		right: 0px;
	}
}

@media screen and (min-width: 600px) {
	#header img {
		height: 32px;
	}
	ul.ui.secondary.right.menu {
		font-size: 80%;
		padding: 0;
	}
	#pieicon button {
	visibility: hidden;
	}
}

@media screen and (min-width: 945px) {
	#header img {
		height: 64px;
	}
	ul.ui.secondary.right.menu {
		font-size: 100%;
		padding: 0;
	}
}

#popup {
	background-color: rgba(50, 50, 50, 0.8);
	border-top: 1px solid #333;
	box-shadow: 3px 3px 7px;
	box-sizing: border-box;
	margin-left: 3px;
	max-width: 5em;
	padding: 3px;
	max-height: 5em;
	overflow: hidden;
	transition: max-width 0.4s;
	-webkit-transition: max-width 0.4s;
	transition: max-height 0.4s;
	-webkit-transition: max-height 0.4s;
	/*pointer-events: none;*/
}

#popup.loaded {
	max-width: 40em;
	max-height: 20em;
	overflow: auto;
}

#popup table {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 2px #333333;
	margin: 0 0 0 20px;
	/*pointer-events: none;*/
}
#popup th {
	padding: 0 5px;
	/*pointer-events: none;*/
	text-align: right;
	vertical-align: top;
}

#popup td {
	padding-right: 5px;
	/*pointer-events: none;*/
}

.c3 text {
	fill: #000;
}

.c3-target.c3-defocused {
   opacity: 1 !important; // value changed from 0.3 to 1
}

#histogramBBox {
	direction: rtl;
	min-width: 100px;
	overflow: visible;
	padding: 1em;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 7em;
	width: 50%;
}
#histogramBBox div {
	pointer-events: auto;
}
.chart div {
	-moz-user-select: none;
	background-color: #666;
	font-weight: bold;
	line-height: 1;
	margin: 1px;
	text-align: right;
	text-shadow: 1px 1px 1px #666, 0 0 5px #666, 0 0 10px #666, 0 0 15px #666;
	cursor: pointer;
}
.chart div:hover {
	background-color: #333;
	text-shadow: 0 0 20px #333, 0 0 5px #333;
}

